html{
  background:rgb(242, 241, 234)
  margin:0;
  /*background-image: url("https://ak9.picdn.net/shutterstock/videos/1848529/thumb/1.jpg");*/
font-family: 'Cormorant', serif;
  font-size: 22px;
}

/*
body{
  margin:0px;

  font-family: 'Work Sans', sans-serif;
  /*background:rgb(242, 240, 234)*/
}
*/

body{
  font-family: 'Cormorant', serif;
  background-color: white;
}

.kai{
  font-size: 3rem;
  text-align: center;
}

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.menu-container{
  color:#fff;
  /*text-shadow: 1px 1px 4px white;8?
  /* background-color: #5995DA; */
  background-image: url("images/banner.jpeg");
  background-position: center;
  background-size: contain;
  padding: 20px 0;

  /*---------*/
  display:flex;
  justify-content: center;
}

.menu{
/*  border: 1px solid #fff;*/
  width:900px;

  display:flex;
  flex-direction: row;
  justify-content:space-around;
  flex-wrap: wrap;

}

.links{
  /*border: 1px solid white;*/
  display:flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  flex-wrap: wrap;

}

.contact{
  background-color: black;
  font-size: 1.5rem;
}

.photo-grid-container{

  justify-content: center;
}

.photo-grid{
  width:900px;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.photo-grid-item{

  width: 300px;
  height:150px;
  border:2px solid black;

}
.first-item{
  background-image: url("images/img01.jpeg");
  background-position: center;
  background-size: cover;
}

.second-item{
  background-image: url("images/img02.jpeg");
  background-position: center;
  background-size: cover;
}
.third-item{
  background-image: url("images/img06.jpeg");
  background-position: center;
  background-size: cover;
}
.fourth-item{
  background-image: url("images/img05.jpeg");
  background-position: center;
  background-size: cover;
}

.card{
  width: auto;
  margin: 10px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;

  color:white;
  border-bottom: 2px solid rgb(101, 101, 101);


}



.myPhoto{
  width:100%;
  height:100px;

  background-image: url("https://radiichina.com/wp-content/uploads/2019/04/soulspeak-kai-luen-china.wav-wordy-chacha-china-hip-hop-beats.jpg");
  background-position: center;
  background-size: contain;

}

.bio{
  margin-top: 1.5em;

  text-align: justify;
 color:black;
 background-color: rgba(255,255,255,1);
 /*  border: 1px solid rgb(74, 74, 73); */

}

.accentColor{
  text-decoration: underline;

  color:black;

  font-size: 1.5rem;
}

.pop{
  text-align: center;
  font-size: 3em;
}

.center{
  text-align: center;

  font-size: 1.2em;
}


.email{

  margin-right: auto;
  margin-left: auto;
  color:white;
  /*background-color: white;*/
  text-align: center;
  font-size: 1rem;
}

.button{
/*  display: inline-block;*/

  margin:0.5em;
  padding:.1em  0.1em;

  text-decoration: none;

  color: white;

  background: rgba(0,0,0,0.7);

}

.button:hover{
  background: rgb(100, 175, 215);

}

/*
a:link, a:visited{
  color: white;
}
a:focus, a:hover{
  color: black;
}
a:active{
  color:rgb(255, 168, 200);
}
*/


h2, h1,p {
  margin-top:0;
  margin-bottom: 0;
  padding:20px;
}

strong{
  color: rgb(249, 187, 167);
}

/* ----------------------------------------------------------CONTENT CONTAINER----------------------------------------------------------------*/
.container{
  display:flex;
  flex-wrap: wrap;
 justify-content:space-around;
  align-items: flex-start;
  width:100%;
  border:1px solid black;
}

/* Not sure whats going on here */
.ContentSizeItem{
  width: 300px;
  height:300px;
  border:2px solid red;

}
.contentSizePic{
  width: 300px;
  height:300 auto;

  border: 2px solid white;
  border-radius: 200px;
  background-position: center;
  background-size: cover;
}
/* ---------*/


.contentContainer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.contentButton{
  margin:0.2em;
  /*padding:5em 5em;*/

  width:400px;
  height:200px;

  text-decoration: none;
  font-size: 1.5rem;
  text-shadow: 2px 2px 1px black;
  color: white;

  background-position: center;
  background-size: cover;
}

.youtubeResponsive{
  width:100%;
  height:0;
  padding-bottom: 56.25%;
  position:relative;
}

.youtubeResponsive iframe{
  position:absolute;
  width:100%;
  height:100%;
}

.Void{
  background-image: url("/media/Void.png");
}

.Hollow{
  background-image: url("https://f4.bcbits.com/img/a1084492088_16.jpg")

}

.Grains{
  background-image: url("/media/grains02.png");
}

.Visuals{
  background-image: url("/media/computer.png");
}


.blogFormat{
  padding:1.5em;

  text-align: justify;

  color:white;
  background:black;

  font-family: 'Work Sans', sans-serif;

}

.blogFormat > h1{
  padding: 20px;

  text-align: center;
}

/*----------------*/
.blogPost001{
  display:block;

  width:100%;
  margin: 0 auto;
}

.blogPost001 > h3{
  text-align: center;
}

.blogPost001>img{
  display:block;

  width:50%;
  margin: 0 auto;
  margin-right: auto;
  margin-left: auto;
  padding:25px;

}
.blogPost001 > p{
  padding:9px;

  text-align: justify;

}

/*----------------*/


/*--BIO html--------------*/

.bio-container{
  max-width: 980px;
  margin: 0 auto;
  font-size: 1.7em;

}

.OneLiner{
  background-color: rgb(181, 230, 237);

  font-size: 2rem;
}
